
<div class="top">
  <div class="title">
    <div class="title1">送信ありがとうございます！</div>
    順番にご連絡いたしますので、少々お待ち下さい。</br>
    </br>
    <%= link_to 'TOPページへ', '/top', class:"link_back" %>
  </div>
</div>
